# Kentucky Derby Winners: 1875-2022

Anaylsis of 148 years of Derby Races

Data Sources: 
- https://www.kaggle.com/datasets/danbraswell/kentucky-derby-winners-18752022 
- https://www.gobankingrates.com/net-worth/sports/how-much-did-kentucky-derby-winners-make/ 

## Definitions

- **year** : race year
- **winner**: the winning horse
- **jockey**: the winning jockey
- **trainer**: trainer of the winning horse
- **owner**: owner of the winning horse
- **distance**: distance of the race in miles
- **track_condition**: track conditions
- **time_string**: winning time in the format of Minutes:Seconds
- **time_sec**: winning time in seconds
- **triple_crown_winner**: flag to denote Triple Crown winner

In [100]:
import pandas as pd


KY1_df = pd.read_csv('data/KY_Derby_Data1.csv')
KY1_df.columns

Index(['year', 'winner', 'jockey', 'trainer', 'owner', 'distance',
       'track_condition', 'time_string', 'time_sec', 'triple_crown_winner'],
      dtype='object')

In [101]:
KY2_df = pd.read_csv('data/KY_Derby_Data2.csv')
KY2_df.columns

Index(['Year_winner', 'Owner', 'Earnings', 'Earnings_2022'], dtype='object')

In [102]:
KY2_df['Year_winner'] = KY2_df['Year_winner'].str.slice(0,4)
KY2_df.rename(columns={'Year_winner': 'year'}, inplace = True)
KY2_df = KY2_df.sort_values(['year'], ascending=[False])

# derby = pd.concat([KY2_df.set_index('year'),KY1_df.set_index('year')], axis=1, join='outer').reset_index()
#derby = pd.concat([KY2_df, KY1_df], ignore_index=True, sort=False)
KY1_df = pd.read_csv('data/KY_Derby_Data1.csv')
KY2_df = pd.read_csv('data/KY_Derby_Data2.csv')
#pd.concat([KY1_df, KY2_df]).to_csv('data/KY3.csv', index=False)

KY3_df = pd.read_csv('data/KY3.csv')

# If you have space in column name
# Specify column name with in single quotes
# KY3_df = KY3_df[KY3_df['Earnings'] == '']

# Drop rows with None/NaN
KY3_df = KY3_df[KY3_df.Earnings.notnull()]

print(KY3_df.head())

     year winner jockey trainer owner  distance track_condition time_string  \
148   NaN    NaN    NaN     NaN   NaN       NaN             NaN         NaN
149   NaN    NaN    NaN     NaN   NaN       NaN             NaN         NaN
150   NaN    NaN    NaN     NaN   NaN       NaN             NaN         NaN
151   NaN    NaN    NaN     NaN   NaN       NaN             NaN         NaN
152   NaN    NaN    NaN     NaN   NaN       NaN             NaN         NaN

     time_sec triple_crown_winner         Year_winner               Owner  \
148       NaN                 NaN   1930: Gallant Fox         Belair Stud
149       NaN                 NaN  1931: Twenty Grand    Greentree Stable
150       NaN                 NaN   1932: Burgoo King   Edward R. Bradley
151       NaN                 NaN   1933: Brokers Tip   Edward R. Bradley
152       NaN                 NaN     1934: Cavalcade   Brookmeade Stable

      Earnings Earnings_2022
148  $328,165    $5,582,766
149  $261,790    $4,919,325
150  $110,940    $2,328,153
151   $49,600    $1,131,762
152  $127,165    $2,748,906